<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>how to height 100%</title>
</head>
<body style="margin: 0px; background-color: #FEFEFE; height: 100%; overflow: auto;">
	<div style="border: 0; background-color: gray; height: 100px; overflow: auto;">
		此为固定100px高度的区域
	</div>
	<div style="position:absolute;top:100px;bottom:0px;width:100%; overflow:auto;background-color: #CCC;">
		<p>此为自动撑满剩余高度的区域</p><br/><br/>
<p>//knowledge:Firefox(4.0)、Chrome(11.0.696.71)、Safari(5.0(7533.19.4))、Opera(11.11)、ie(9.0.8112.16421)</p>
<p>设置position:absolute，然后利用 left与right 或 top与bottom 互相配对控制实现自动宽度或高度拉伸</p>

		<p>测试滚动条出现的文字，测试滚动条出现的文字</p>
		<p>测试滚动条出现的文字，测试滚动条出现的文字</p>
		<p>测试滚动条出现的文字，测试滚动条出现的文字</p>
		<p>测试滚动条出现的文字，测试滚动条出现的文字</p>
		<p>测试滚动条出现的文字，测试滚动条出现的文字</p>
		<p>测试滚动条出现的文字，测试滚动条出现的文字</p>
		<p>测试滚动条出现的文字，测试滚动条出现的文字</p>
		<p>测试滚动条出现的文字，测试滚动条出现的文字</p>
		<p>测试滚动条出现的文字，测试滚动条出现的文字</p>
		<p>测试滚动条出现的文字，测试滚动条出现的文字</p>
	</div>
</body>
</html>