<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>position test</title>
</head>
<body style="margin: 0px;background-color:#FEFEFE;height:100%;overflow:hidden;">
<div style="border:0;background-color:gray;overflow:auto;">
	<a href="#" style="position:relative;margin:4px;border:1px solid black;border:1px solid black;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	</a>
	<a href="#" style="position:relative;margin:4px;border:1px solid black;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	</a>
	<a href="#" style="position:relative;margin:4px;border:1px solid black;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	</a>
	<a href="#" style="position:relative;margin:4px;border:1px solid black;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	</a>
	<a href="#" style="position:relative;margin:4px;border:1px solid black;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	</a>
	<a href="#" style="position:relative;margin:4px;border:1px solid black;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	</a>
	<a href="#" style="position:relative;margin:4px;border:1px solid black;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	</a>
</div>
<ul style="border:0;background-color:red;overflow:auto;list-style:none;margin:10;padding:0;">
	<li href="#" style="position:relative;margin:4px;border:1px solid black;float:left;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	<li>
	<li href="#" style="position:relative;margin:4px;border:1px solid black;float:left;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	<li>
	<li href="#" style="position:relative;margin:4px;border:1px solid black;float:left;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	<li>
	<li href="#" style="position:relative;margin:4px;border:1px solid black;float:left;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	<li>
	<li href="#" style="position:relative;margin:4px;border:1px solid black;float:left;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	<li>
	<li href="#" style="position:relative;margin:4px;border:1px solid black;float:left;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	<li>
	<li href="#" style="position:relative;margin:4px;border:1px solid black;float:left;">
	<span style="margin-right:8px;">测试测试测试1</span>
	<span style="position:absolute;top:50%;margin-top:-8px;width:16px;height:16px;display:block;background-color:yellow;right:0;"></span>
	<li>
</ul>
</body>
</html>